rti.connext
numpy<2.0.0
pydantic
pillow
opencv-python-headless
pyrealsense2
holoscan==3.2.0
ntplib
pygame
websockets
websocket-client
websocket-server
setuptools
requests

--extra-index-url https://download.pytorch.org/whl/cu124
torch; platform_machine == 'x86_64'

--extra-index-url https://pypi.nvidia.com
isaacsim[allextscache]==4.5.0; platform_machine == 'x86_64'

pynvjpeg
