boto3
botocore
holoscan==3.2.0
ntplib
numpy<2.0.0
opencv-python-headless
pillow
pydantic
pygame
pyrealsense2
requests
rti.connext
setuptools
websocket-client
websocket-server
websockets

--extra-index-url https://download.pytorch.org/whl/cu124
torch; platform_machine == 'x86_64'
